---
import SectionLayout from "@/layouts/SectionLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sectionName = "about";

const paragraphs = [
  t("section.about1"),
  t("section.about2"),
  t("section.about3"),
  t("section.about4"),
];
---

<SectionLayout {sectionName}>
  <h1 class="block sm:hidden text-lg font-bold mb-4 tracking-widest uppercase">
    {t("nav.about")}
  </h1>
  <div class="flex flex-col gap-y-4 font-light">
    {paragraphs.map((paragraph) => <p class="">{paragraph}</p>)}
  </div>
</SectionLayout>
