---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import SectionLayout from "@/layouts/SectionLayout.astro";
import ExperienceCard from "./ExperienceCard.astro";
import { getExperienceItems } from "@/data/Experience";

const sectionName = "experience";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experience_items = getExperienceItems(t);
---

<SectionLayout {sectionName}>
  <h1 class="block sm:hidden text-lg font-bold mb-4 tracking-widest uppercase">
    {t("nav.experience")}
  </h1>
  <ul>
    {experience_items.map((item) => <ExperienceCard item={item} />)}
  </ul>
</SectionLayout>
