---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import ThemeToggle from "./ThemeToggle.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<ul
  class="dark:text-white text-black flex items-center justify-center text-2xl gap-x-2"
>
  <li>
    <a href={translatePath("/experience/")}>
      {t("nav.experience")}
    </a>
  </li>
  <li>
    <a href={translatePath("/about/")}>
      {t("nav.about")}
    </a>
  </li>
  <li>
    <ThemeToggle />
  </li>
</ul>
