---
import { socialNetworks } from "@/data/SocialNetworks";
import { Icon } from "astro-icon/components";

---

<nav>
  <ul class="ml-1 mt-8 flex items-center z-20" aria-label="Social media">
    {
      socialNetworks.map((network) => (
        <li class="mr-5 shrink-0 text-xs">
          <a
            class="block dark:hover:text-slate-200 hover:text-primary duration-200"
            href={network.url}
            target="_blank"
            rel="noreferrer noopener"
          >
            <span class="sr-only">{network.name}</span>
            <Icon class="h-6 w-6" name={network.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
