---
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../../layouts/Layout.astro";
const aboutURL = getRelativeLocaleUrl("es", "about");
---

<Layout> inicio </Layout>
<a href="/get-started/">¡Vamos!</a>
<a href={getRelativeLocaleUrl('es', 'blog')}>Blog</a>
<a href={aboutURL}>Acerca</a>
