---
import HeaderInfo from "../components/HeaderInfo.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import Navbar from "../components/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";
import "@fontsource-variable/inter";
const lang = getLangFromUrl(Astro.url);
console.log("lang", lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ronny Garcia | Full stack Developer</title>
  </head>
  <body
    class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-primary selection:text-dark"
  >
    <nav>
      <Navbar />
    </nav>
    <main
      class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-16 lg:py-0"
    >
      <HeaderInfo />
      <slot />
      <footer>
        <LanguagePicker />
      </footer>
    </main>
  </body>
</html>
