---
import Greeting from "../components/Greeting.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import SocialNetwork from "../components/SocialNetwork.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import SideBar from "../components/SideBar.astro";
import { getLangFromUrl } from "../i18n/utils";
import "@fontsource-variable/inter";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import "../styles/global.css";
import MouseShadow from "../components/MouseShadow.astro";
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Ronny Garcia | Full stack Developer</title>
  </head>
  <body
    id="body-container"
    class="overflow-x-hidden relative dark:bg-slate-900 bg-slate-100 leading-relaxed text-slate-400 antialiased selection:bg-primary selection:text-dark"
  >
    <!-- <nav>
      <Navbar />
    </nav> -->
    <header
      class="flex items-center justify-between fixed top-0 z-10 pb-8 w-full max-w-screen-xl px-6 md:px-12 py-4 left-1/2 transform -translate-x-1/2"
    >
      <LanguagePicker />
      <ThemeToggle />
    </header>
    <main class="mx-auto max-w-screen-xl px-6 md:px-12 relative">
      <div class="relative flex flex-row">
        <section
          class="w-full max-w-[500px] flex flex-col justify-between max-h-screen sticky top-0 py-24"
        >
          <div class="flex flex-col gap-y-20">
            <Greeting />
            <SideBar />
          </div>
          <SocialNetwork />
        </section>
        <section class="w-full">
          <AboutMe />
          <Experience />
          <Projects />
          <!-- <slot /> -->
        </section>
      </div>
    </main>
    <MouseShadow />
  </body>
</html>
